Few pointers regarding the assignment :
1. the file used is general_data.csv provided during DAY 7
2. the assignment is being made over the weekend during 25th to 26th of July (after the release of the solutions) as I have to dedicate my weekdays to my internship , bonafide of which could be provided 
3. since the assignment solutions was already released , I have tried adding all sorts of variations to the assignments in order to do justice to the assignmnets
4. Also one general query as to why when the program was introduced , the instructions on latest submission of the assigment was on weekends and now the assignments are being asked on any random days

In [2]:
import numpy as np
import pandas as pd

In [9]:
dataset = pd.read_csv('general_data.csv')
dataset.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [10]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [13]:
from sklearn import preprocessing
Label_encoder=preprocessing.LabelBinarizer()
dataset["Attrition"]=Label_encoder.fit_transform(dataset["Attrition"])

In [22]:
from scipy.stats import pearsonr

In [23]:
stats,p=pearsonr(dataset.Attrition, dataset.DistanceFromHome)
print(stats,p)

-0.009730141010179692 0.5182860428050771

H0: there is no significant correlation bwtween attrition and distance from home
Ha: there is significant correlation bwtween attrition and distance from home
since p>0.05, the null hypothesis is accepted

---
There is negative correlation between attrition and distance from home

In [24]:
stats,p=pearsonr(dataset.Attrition, dataset.MonthlyIncome)
print(stats,p)

-0.03117628169811501 0.03842748490600132

H0: there is no significant correlation between attrition and monthly income Ha: there is significant correlation between attrition and monthly income. Since p<0.05, the null hypothesis is rejected

---
there is negative correlation between attrition and monthly income

In [26]:
stats,p=pearsonr(dataset.Attrition, dataset.YearsSinceLastPromotion)
print(stats,p)

-0.03301877514258437 0.028330336189396753

H0: there is no significant correlation between attrition and years since last promotion Ha: there is significant correlation between attrition and years since last promotion. Since p<0.05, the null hypothesis is rejected

---
there is negative corelation between attrition and years since last promotion

In [27]:
stats,p=pearsonr(dataset.Attrition, dataset.PercentSalaryHike)
print(stats,p)

0.0325325948910535 0.030743386433355353

H0: there is no significant correlation between attrition and percent salary hike Ha: there is significant correlation between attrition and percent salary hike. Since p<0.05, the null hypothesis is rejected

---
there is positive correlation between attrition and percent salary hike