few pointers reagrding the assignment:
1. used the data provided on day 7 named general_data.csv
2. I was unclear as to what exactly had to be done in the assignment , so I have performed a few of the parametric and non parametric tests according to my understanding namely Mann Whitney test, Kruskal Wallis Test, 2 sample seperate t test as it wasnt mentoined which ones needed to be done  
3. the assignment is being done over the weekend (25th july) which is after the release of the solution as I have an internship commitment on weekdays and can work on this only during the weekend
 

---


*   for conducting the mann whitney test, I divided the original dataset based on gender -Male and Female 
*   for conducting kruskal walls test, I divided the original datset on business travel: frequent traveller, non traveller and rare traveller
*   for conducting sepearte t test , i used the same data which I had prepared for mann whitney test

In [1]:
import numpy as np
import pandas as pd

In [3]:
'''mann whitney test'''
from scipy.stats import mannwhitneyu

In [7]:
dataset1=pd.read_csv('general_data1.csv')
dataset2=pd.read_csv('general_data2.csv')

In [9]:
a1=dataset1.MonthlyIncome
a2=dataset2.MonthlyIncome
stat,p=mannwhitneyu(a1,a2)
print(stat,p)

9.0 0.2654346519842541

* H0: there is no significant differences in monthly income between male and female 
* Ha: there is significant differences in monthly income between male and female 
*since p value>0,05, H0 is accepted

In [10]:
a1=dataset1.TotalWorkingYears
a2=dataset2.TotalWorkingYears
stat,p=mannwhitneyu(a1,a2)
print(stat,p)

6.5 0.12457631929096341

* H0: there is no significant differences in TotalWorkingYear between male and female 
* Ha: there is significant differences in TotalWorkingYear between male and female 
* since p value>0,05, H0 is accepted

In [17]:
a1=dataset1.YearsWithCurrManager
a2=dataset2.YearsWithCurrManager
stat,p=mannwhitneyu(a1,a2)
print(stat,p)

6.0 0.10364992015687058

* H0: there is no significant differences in YearsWithCurrManager between male and female
* Ha: there is significant differences in YearsWithCurrManager between male and female
* since p value>0,05, H0 is accepted

In [19]:
'''Kruskal watts test'''
from scipy.stats import kruskal
dataset1=pd.read_csv('general_data3.csv')
dataset2=pd.read_csv('general_data4.csv')
dataset3=pd.read_csv('general_data5.csv')

In [20]:
b1=dataset1.JobRole
b2=dataset2.JobRole
b3=dataset3.JobRole
stat,p=kruskal(b1,b2,b3)
print(stat,p)

1.6397975077881684 0.44047624875339897

* H0: there is no significant differences in jobrole between non travellers, frequent travellers and rare travellers 
* Ha: there is significant differences in jobrole between between non travellers, frequent travellers and rare travellers 
* since p value>0,05, H0 is accepted

In [21]:
b1=dataset1.Department
b2=dataset2.Department
b3=dataset3.Department
stat,p=kruskal(b1,b2,b3)
print(stat,p)

1.8717948717948882 0.39223370292827786

* H0: there is no significant differences in department between non travellers, frequent travellers and rare travellers
* Ha: there is significant differences in department between between non travellers, frequent travellers and rare travellers
* since p value>0,05, H0 is accepted

In [12]:
'''seperate t test'''
from scipy.stats import ttest_ind

In [13]:
a1=dataset1.TotalWorkingYears
a2=dataset2.TotalWorkingYears
stat,p=ttest_ind(a1,a2)
print(stat,p)

1.4059636484492146 0.19736536050084735

* H0: there is no significant differences in TotalWorkingYears between non travellers, frequent travellers and rare travellers
* Ha: there is significant differences in TotalWorkingYears between between non travellers, frequent travellers and rare travellers
* since p value>0,05, H0 is accepted

In [14]:
a1=dataset1.MonthlyIncome
a2=dataset2.MonthlyIncome
stat,p=ttest_ind(a1,a2)
print(stat,p)

0.21576524763062419 0.8345703470607588

* H0: there is no significant differences in monthly income between non travellers, frequent travellers and rare travellers
* Ha: there is significant differences in monthly income between between non travellers, frequent travellers and rare travellers
* since p value>0,05, H0 is accepted

In [18]:
a1=dataset1.YearsWithCurrManager
a2=dataset2.YearsWithCurrManager
stat,p=ttest_ind(a1,a2)
print(stat,p)

1.4342743312012722 0.18940366109332116

* H0: there is no significant differences in YearsWithCurrManager between non travellers, frequent travellers and rare travellers
* Ha: there is significant differences in YearsWithCurrManager between between non travellers, frequent travellers and rare travellers
* since p value>0,05, H0 is accepted