**PROJECT 1: BUILDING DECISION TREE AND PREDICTION ON TITANIC DATASET**

BUILDING DECISION TREE

In [61]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing

In [63]:
titanic_train=pd.read_csv("train.csv")
titanic_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [64]:
new_age_var=np.where(titanic_train["Age"].isnull(),32,titanic_train["Age"])

In [65]:
titanic_train["Age"]=new_age_var

In [66]:
label_encoder=preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(titanic_train["Sex"])

In [67]:
predictors=pd.DataFrame([encoded_sex,titanic_train["Age"],titanic_train["Fare"]]).T

In [68]:
tree_model=tree.DecisionTreeClassifier()

In [69]:
tree_model.fit(predictors,titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [70]:
with open ("DecisionTree.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex","Age","Fare"],out_file=f);

In [15]:
print("Accuracy:")
print(tree_model.score(predictors,titanic_train["Survived"]))

Accuracy:
0.9763779527559056

The accuracy as was mentioned in class is increased after we made the model using the important features ( AGE , FARE, GENDER) with the help of random forest

PREDICTION

In [19]:
titanic_test=pd.read_csv("test.csv")

In [20]:
new_age_var=np.where(titanic_test["Age"].isnull(),33,titanic_test["Age"])

In [21]:
titanic_test["Age"]=new_age_var

In [22]:
encoded_sex_test=label_encoder.fit_transform(titanic_test["Sex"])

In [23]:
test_features=pd.DataFrame([encoded_sex_test,titanic_test["Age"],titanic_test["Fare"]]).T

In [24]:
test_preds=tree_model.predict(test_features)

In [25]:
predicted_output=pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_preds})

In [26]:
predicted_output.to_csv("Output.csv",index=False)

**PROJECT 2: BUILDING DECISION TREE FOR EMPLOYEE ATTRITION DATASET**

APPLYING RANDOM FOREST FOR SELECTING THE MOST IMPORTANT FEATURES

In [27]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [28]:
data=pd.read_csv("general_data.csv")
data.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [37]:
label_encoder = preprocessing.LabelEncoder()
encoded = data.apply(label_encoder.fit_transform)

In [38]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)

In [39]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [16]:
features =['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [45]:
rf_model.fit(X=encoded[features],y=encoded["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [46]:
for feature, imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.09259958382688738
BusinessTravel 0.02748306090490428
Department 0.024949722098791087
DistanceFromHome 0.06727361045552585
Education 0.03978471551586647
EducationField 0.03991143766623865
EmployeeCount 0.0
EmployeeID 0.03782446180258385
Gender 0.01676360723499344
JobLevel 0.0359171518244432
JobRole 0.05402948234426504
MaritalStatus 0.038584509512282116
MonthlyIncome 0.08734838088987903
NumCompaniesWorked 0.053879488731460125
Over18 0.0
PercentSalaryHike 0.06323300274899556
StandardHours 0.0
StockOptionLevel 0.03222460314185721
TotalWorkingYears 0.08224334599398002
TrainingTimesLastYear 0.04364919184181397
YearsAtCompany 0.0677809485369828
YearsSinceLastPromotion 0.04199399917906728
YearsWithCurrManager 0.05252569574918278

BUILDING DECISION TREE USING IMPORTANT FEATURES SELECTED FROM RANDOM FOREST : Age, MonthlyIncome, TotalWorkingYears etc

In [60]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [48]:
tree_model =tree.DecisionTreeClassifier(max_depth = 8)

In [61]:
data["TotalWorkingYears"].mean()

11.279936378095888

In [62]:
New_TotalWorkingYears=np.where(data["TotalWorkingYears"].isnull(),11,data["TotalWorkingYears"])

In [63]:
data["TotalWorkingYears"]=New_TotalWorkingYears

In [66]:
objects=data.select_dtypes(include = "object").columns

In [67]:
label_encoder = preprocessing.LabelEncoder()
encoded = data.apply(label_encoder.fit_transform)

In [82]:

predictors =pd.DataFrame([encoded['Age'],encoded['MonthlyIncome'],encoded['TotalWorkingYears'],encoded['DistanceFromHome'],encoded['YearsAtCompany'],encoded['PercentSalaryHike'],encoded['NumCompaniesWorked'],encoded['JobRole'],encoded['YearsWithCurrManager']]).T

In [83]:
tree_model.fit(X=predictors,y=data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [92]:
with open("Attrition_Model.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Age","MonthlyIncome","TotalWorkingYears","DistanceFromHome","YearsAtCompany","PercentSalaryHike","NumCompaniesWorked","JobRole","YearsWithCurrManager"],out_file=f);

In [96]:
print("Accuracy:")
print(tree_model.score(predictors,data["Attrition"]))

Accuracy:
0.9018140589569161

**PROJECT 3: BUILING DECISION TREE ON BANKING PERSONAL LOAN DATASET**

RANDOM FOREST FOR SELECTING THE BEST FEATURES

In [18]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [19]:
data=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")
data.head()

   ID  Age  Experience  ...  CD Account  Online  CreditCard
0   1   25           1  ...           0       0           0
1   2   45          19  ...           0       0           0
2   3   39          15  ...           0       0           0
3   4   35           9  ...           0       0           0
4   5   35           8  ...           0       0           1

[5 rows x 14 columns]

In [23]:
label_encoder = preprocessing.LabelEncoder()
encoded = data.apply(label_encoder.fit_transform)

In [24]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)

In [25]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [30]:
features=['ID','Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [31]:
rf_model.fit(X=encoded[features],y=encoded['Personal Loan'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
for feature, imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

ID 0.04389583516931788
Age 0.039024196342237576
Experience 0.038223191349364534
Income 0.3234299573221858
ZIP Code 0.04075761513308085
Family 0.08669231334547353
CCAvg 0.16894625543201353
Education 0.14361326116675033
Mortgage 0.04071744563023915
Securities Account 0.0050090998951061476
CD Account 0.05271198669714721
Online 0.007814185139894982
CreditCard 0.009164657377188573

MAKING DECISION TREE BASED ON THE IMPORTANT FEATURES

In [33]:
data.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [34]:
label_encoder = preprocessing.LabelEncoder()
encoded = data.apply(label_encoder.fit_transform)

In [35]:
tree_model =tree.DecisionTreeClassifier(max_depth = 8)

In [36]:
predictors=pd.DataFrame([data["Income"],data["CCAvg"],data["Education"],data["Family"]]).T

In [37]:
tree_model.fit(X=predictors,y=encoded["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [56]:
with open("Personal_loan.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Income","CCAvg","Education","Family"],out_file=f);

In [55]:
print("Accuracy:", tree_model.score(X=predictors,y=encoded["Personal Loan"]))

Accuracy: 0.9954

# Note
I have not drawn inferences from the tree diagram as the tree diagram proved out to be very complex since most of them had 4 or more features . Also the diagram explain in class was pretty small and more understandable. Drawing inferences from complex graphs needed to be explained properly